header {
    width: 100%;
    height: 5rem;
    box-shadow: 0 4px 8px var(--light-gray-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    padding: 0 1rem;
}

.logo {
    margin-top: 1.5em;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#menu-options {
    margin-left: 1rem;
    display: flex;
    list-style: none;
}

#menu-options li {
    margin: 1rem;
}

a {
    text-decoration: none;
    color: var(--med-gray-color);
    font-size: 1.2rem;
}

a:hover {
    color: var(--red-color);
}

#search_bar {
    width: max-content;
    display: flex;
    align-items: center;
    background-color: var(--light-gray-color);
    border-radius: 20px;
    border: 2px solid transparent;
}

#search_bar:focus-within {
    border: 2px solid var(--med-gray-color);
}

#search_bar i {
    margin-left: 1rem;
    color: var(--med-gray-color);
}

#search_bar input {
    width: 20em;
    height: 2.5em;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 20px;
    font-size: 16px;
    flex: 1;
}

#search_bar:hover {
    border-color: var(--med-gray-color);
}

#search_bar input:focus::placeholder {
    color: transparent;
}

.social-media-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social-media-wrapper a i {
    font-size: 1.5rem;
    margin: 2em;
}

#bag{
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 1rem;
}

.bag-icon-wrapper {
    margin-top: 0.3rem;
    position: relative;
    display: inline-block;
}

.notification-badge {
    position: absolute;
    top: -6px;
    right: 0.5rem;
    background-color: black; 
    color: #fff;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
}


#user_pic {
    width: 50px;
    height: 50px;
    border: solid var(--med-gray-color) 3px;
    border-radius: 50%;
    margin: 0 1rem;
}

#more-options {
    margin-right: 25px;
}

#more-options-icon {
    height: 28px;
    width: 28px;
}

@media screen and (max-width: 1343px) {
    .bag-icon-wrapper,
    .social-media-wrapper a i {
        display: none;
    }
}

@media screen and (max-width: 1014px) {
    #user_pic {
        display: none;
    }
}

@media screen and (max-width: 952px) {
    #menu-options {
        display: none;
    }

    nav {
        justify-content: space-around;
    }
}

@media screen and (max-width: 639px) {
    #search_bar {
        display: none;
    }
}

